<div class="container-fluid" style="color: #fff">
    <h3>情境</h3>
    <p>你是Andy。</p>
    <p>試著更換你的大頭貼。</p>
    <hr style="border-color: #888">
    <h3>Mission 1</h3>
    <p>由於你發現可以上傳檔案，於是想試著上傳一段程式碼，而這段程式碼將會取得伺服器中的檔案結構並顯示在畫面中...</p>
    <h3>Mission 2</h3>
    <p>咦？有個看起來像客戶資料的資料夾，或許有什麼重要資訊在其中:</p>
    <ul>
        <li>取得資料夾中的檔案名稱</li>
        <li>印出檔案內容</li>
    </ul>
    <p>hint: 若想一次執行多個指令，可以使用 '&&'，ex: command1 && command2</p>
</div>